<form class="form-control" [formGroup]="loginForm" (ngSubmit)="login()">
  <div>
    <mat-form-field style="width: 100%">
      <mat-label>User Name</mat-label>
      <mat-icon matIconSuffix>person</mat-icon>
      <input matInput formControlName="username" autocapitalize="characters">
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Password</mat-label>
      <mat-icon matIconSuffix>password</mat-icon>
      <input type="password" matInput formControlName="password" autocomplete="characters">
    </mat-form-field>
  </div>

  <button mat-button mat-raised-button color="primary"><mat-icon>login</mat-icon></button>
</form>
